<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
          <environmentVariable name="CORECLR_PROFILER" value="{DD0A1BB6-11CE-11DD-8EE8-3F9E55D89593}" />
          <environmentVariable name="CORECLR_ENABLE_PROFILING" value="1" />
          <environmentVariable name="CORECLR_PROFILER_PATH_32" value="C:\Users\huuduc.tran\Downloads\teamscale-profiler-dotnet_v19.6.1.219\teamscale_dotnet_profiler\Profiler32.dll" />
          <environmentVariable name="CORECLR_PROFILER_PATH_64" value="C:\Users\huuduc.tran\Downloads\teamscale-profiler-dotnet_v19.6.1.219\teamscale_dotnet_profiler\Profiler64.dll" />
          <environmentVariable name="CORECLR_PROFILER_TARGETDIR" value="C:\Workspace\RnD\teamscale\traces" />
          <environmentVariable name="CORECLR_PROFILER_LIGHT_MODE" value="1" />
          <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="44318" />
          <environmentVariable name="COMPLUS_ForceENC" value="1" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: 7f9657c4-6471-415d-b499-c67dd205f70d-->